body
{
    margin: 0;
    padding: 0;

}
.page
{
    background-color: #eeeeee;
    width: 1440px;
    height: 800px;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid #030605;
}

.wrapper
{
    background-color: white;
    width: 510px;
    height: 750px;
    margin: 5px auto;
    border: 2px solid #e2e2e2;
}
.conteiner
{
    width: 412px;
    height: 640px;
    margin: 0 auto;
    font-family: Tahoma,Times New Roman, sans-serif;
}
header
{
    width: 412px;
    height: 227px;
    margin-top: 46px;
    border-bottom: 1px solid #7a7a7a;
}
h1
{
    text-align: center;
    font-family: Tahoma,Times New Roman, sans-serif;
    font-size:20px;
    padding: 5px;
}
.logo
{
    text-align:center;
    margin:0 auto;
}
.my_info
{
    text-align: left;
    font-family: Tahoma,Times New Roman, sans-serif;
    font-size:15px;
    font-weight: 300;
    margin: 4px auto;
}
.content
{
    width: 412px;
    height: 340px;
    margin: 0 auto;
    border-bottom: 1px solid #7a7a7a;

}
.resum
{
    border-bottom: 1px solid #7a7a7a;
    width: 412px;
    height: 170px;
    font-size:17px;
    padding-top: 9px;
    font-family: Tahoma,Times New Roman, sans-serif;

}
.contact
{
    padding-top: 18px;
    font-family: Tahoma,Times New Roman, sans-serif;
}


footer
{
    width: 412px;
    margin:20px  0 0 0;
    font-size:17px;
    font-family: Tahoma,Times New Roman, sans-serif;

}